<h1>关于保卫基地游戏</h1>

<hr/>

<h2>保卫基地游戏介绍</h2>

<p>保卫基地游戏是个关于保卫基地并防御僵尸的游戏你需要使用防御塔保护你的建筑</p>

<p>建造它们需要消耗资源,你需要开采这些资源</p>

<h2>保卫基地游戏基本玩法</h2>

<p><strong>1、</strong>你的<strong>最终目标</strong>就是保护<strong>主基地</strong>（第一个放置的建筑），一旦主基地被僵尸摧毁<strong>游戏就会结束</strong></p>

<p><strong>2、生成的资源矿产：红色的是水晶矿，灰色的是铁矿，黄色的是树木，绿色的是铀矿</strong></p>

<p><strong>3、红色的水晶</strong>作为一种<strong>货币</strong>用进行购买<strong>建造/建筑升级</strong>，所以请<strong>确保水晶采矿机的等级总是达到最高</strong></p>

<p>升级主基地后就<strong>尽量升级水晶矿机</strong>，这样可以保证每秒水晶产量总是达到最高</p>

<h2>保卫基地游戏防御塔攻略</h2>

<p>炮塔、箭塔、闪电塔，防御塔建造前都需要先建造对应的资源塔：</p>

<p><strong>铁矿开采机 + 炮弹工厂 -&gt; 炮塔</strong></p>

<p><strong>伐木机 + 锯木厂 + 钢铁工厂 + 弓箭工厂 -&gt; 箭塔</strong></p>

<p><strong>铀矿开采机 + 核反应堆 -&gt; 闪电塔</strong></p>

<p>炮塔是最先解锁的，算是最前期的防御塔，炮弹击中僵尸会爆炸，算是一种范围防御塔，但有时僵尸走的快会打空</p>

<p>箭塔在主基地升到 2 级后也会很快解锁，游戏里箭塔给予的建造名额最多，之后的防御僵尸的主力基本都是箭塔</p>

<p>闪电塔在主基地达到 5 级后解锁，建造和升级成本都较高，主要是闪电攻击可以各种蔓延到其他敌人身上，算是群攻，</p>

<p>不只是防御塔升级，后期也需要升级二次加工资源的建筑，因为你的弹药供给可能会跟不上</p>

<p><strong>5、运输器是用来传输物资的建筑，所有防御塔都要和工厂用运输器连接</strong></p>

<p>升级运输器可以增加运输速度，这方面前期主要需求是水晶采矿机，</p>

<p>后期防御塔多了也需要升级运输器防止拥挤</p>

<p><strong>6、主基地的等级就是你所有建筑能升级到的最高等级</strong></p>

<p>所以主基地升级尽量快，这样水晶矿机才能跟着升级，水晶产量才能上去</p>

<p><strong>7、除城墙以外的建筑都挺脆弱，注意保护好</strong></p>

<p><strong>请注意：</strong>当你只有一层城墙时，僵尸还能隔着一层城墙攻击你在城墙边上的建筑</p>

<h2>保卫基地游戏高深技巧</h2>

<p><strong>1、因为资源生成分布比较分散，主基地选址很重要</strong></p>

<p>可以从边角开始，在前期压力会小一些（只需要集中精力防御两三个方向）</p>

<p>但是后期因为在边角的缘故僵尸大军集中程度太高，一些脆弱点被集火很容易防不住</p>

<p>而且后方也会刷新僵尸，没有注意就会被突破</p>

<p>建在每个方向的压力是一样的，但是对操作和布局要求高一些，后期僵尸来了有点手忙脚乱</p>

<p>其次主基地周围最好<strong>有多个水晶矿，至少一个铀矿、三四个铁矿</strong>，都不要离太远，树木资源点一般比较多不用考虑</p>

<p><strong>2、后期多几层城墙，如果钱不充裕的话</strong></p>

<p>权衡一下自己的水晶产速，最外面的可以不用升级太高，作为消耗品每天补一下就可以</p>

<p><strong>3、按官方群某生存 200+ 大神的建议</strong></p>

<p>炮塔和闪电塔也不要升级太高，因为高等级每次攻击会很费弹药，但是升到最高级的箭塔就很好</p>

<p><strong>4、当你总是在升级城墙而没时间升级别的东西，当出现这种情况时，说明你在缓慢死亡</strong></p>

<p><strong>5、小地图上方有三种视图按钮</strong></p>

<p>可以查看运输网、塔防范围和建筑产效，看塔防范围对你放置防御塔补上薄弱点很有用</p>

<p><strong>6、左上角有快捷键介绍，对提升操作效率很有用</strong></p>

<p>有 <strong>Shift（同类建筑全部升级）、X（拆除卖掉）、N（单个升级）</strong>等</p>